<div class= "header">
  <div class="container">
    <div class="row">
    <div class="name col-md-4">
      <h1>
      Diego <span>Carvallo</span>
      </h1>
      </div>
    <div class="nav right col-md-8">
      <ul>
        <li>Welcome</li>
        <li>Projects</li>
        <li>Blog</li>
        <li>About</li>
        <li>Contact</li>
      </ul>
      </div>
    </div>
  </div>
</div>


<div class="main home">
  <div class="jumbotron">
      <div class="container">
    <h2>
      Hello. I am <span>Diego Carvallo</span>.<br> I like to know a little about a lot.
        </h2>
        <a class= "btn right" href="projects"> See What I can do</a>
  		</div>
  </div>
</div>


<div class="footer">
  <div class="container">
    <div class="row">
      <div class="left col-md-4">
         2016 Diego Carvallo
      </div>
      
      <div class="right col-md-8">
        <ul class="social_media">
          <li><a class="github" href="#">github</a></li>
          <li><a class="linkedin" href="#">linkedin</a></li>
          <li></li>
        </ul>
      </div>
    </div>
  </div>
</div>